.container {
    font-family: 'Comic Sans MS', "Arial Round", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    transform: translateZ(0);
    will-change: transform;

}

.container h3 {
    font-size: 1.4rem;
    color: var(--yellow-primary);
    letter-spacing: 1px;
    position: relative;
    margin: 0.2rem 0;

    text-shadow:
            -1px -1px 0 var(--black),
            1px -1px 0 var(--black),
            -1px  1px 0 var(--black),
            1px  1px 0 var(--black),
            3px  3px 0 var(--black);
}

.buttonsContainer {
    display: flex;
    gap: 1rem;
}

.cta {
    padding: 0.4rem 2.5rem;
    font-size: 1rem;
    border: var(--border-std);
    border-radius: 12px;
    background-color: var(--yellow-primary);
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.2s ease;
    color: var(--black);
}

.cta:hover, .selected {
    background-color: var(--blue-primary);
    color: var(--white);
    box-shadow: 4px 4px 0px var(--black);
}

/* == filters style == */

/* Container for filter sections */
.filtersSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.filterGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.filterGroup label {
    font-size: 0.95rem;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {

    .filterGroup {
        gap: 0.3rem;
    }

    .filterGroup label {
        line-height: 0.8rem;
    }

}