
.componentWithGrid {
    width: 100%;
    min-height: 100vh;
    font-family: 'Comic Sans MS', "Arial Round", sans-serif;
}

/* Character or location section */
.charactersSection {
    padding: 1rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Character or location title */
.charactersSection h2 {
    text-align: center;
    font-size: 3.5rem;
    color: var(--yellow-primary);
    text-transform: uppercase;
    -webkit-text-stroke: 3px var(--black);
    text-shadow: 5px 5px 0px var(--black), 8px 8px 0px var(--blue-primary);
    letter-spacing: 2px;
}

.sectionSubtitle {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.94);
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    padding-top: 3rem;
}

/* Black line under the title */
.charactersSection h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 8px;
    background: var(--black);
    margin: 10px auto 0;
    border-radius: 4px;
    transform: rotate(1deg);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* changed compared to Yu's design */
    gap: 3rem;
}

/* Single character or location's card */
.card {
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 28px;
    padding: 2.5rem 1.5rem 1.8rem;
    text-align: center;
    position: relative;
    overflow: visible;
    box-shadow: 10px 10px 0px var(--blue-primary);
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    /* <NavLink> is roughly an <a>, the entire card is a link so this prevents it from inheriting <a>'s default style */
    text-decoration: none;
    color: inherit;
    display: block;

}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 14px 14px 0px var(--yellow-primary);
}

.card img {
    height: 260px;
    /*width: auto;*/
    width: 100%; /* changed compared to Yu's design */
    object-fit: contain;
    border-radius: 28px;
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.65);
    transform: translateY(-30px);
    filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.15));
    transition: transform 0.25s ease;
}

.card:hover img {
    transform: translateY(-40px) scale(1.05);
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.citation {
    font-style: italic;
}

.occupation {
    font-size: 1rem;
}


.ctaCharacters, .ctaLocations {
    padding: 1rem 2.5rem;
    margin-right: 2rem;
    font-size: 0.8rem;
    border: 2px solid var(--black);
    border-radius: 12px;
    background-color: var(--yellow-primary);
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.ctaCharacters:hover, .ctaLocations:hover {
    background-color: var(--blue-primary);
    color: var(--white);
    transform: scale(1.05) rotate(2deg);
    box-shadow: 4px 4px 0px var(--black);
}

/* Responsive */
@media (max-width: 992px) {
    .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
    .grid { grid-template-columns: 1fr; }
    .heroContent { transform: none; padding: 1.5rem; }
}