.container {
    font-family: 'Comic Sans MS', "Arial Round", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    gap: 0.5rem;
    margin-top: 1rem;
}

.container h3 {

    font-size: 1.4rem;
    color: var(--yellow-primary);
    text-shadow: 2px 2px 0px var(--black);
    -webkit-text-stroke: 1px var(--black);
    letter-spacing: 1px;

    position: relative;
    transform: rotate(-1deg);

    margin: 0.2rem 0;
}

.buttonsContainer {
    display: flex;
    gap: 1rem;
}

.cta {

    padding: 0.4rem 2.5rem;

    font-size: 1rem;
    border: var(--border-std);
    border-radius: 12px;
    background-color: var(--yellow-primary);
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.cta:hover {
    background-color: var(--blue-primary);
    color: var(--white);
    transform: scale(1.05) rotate(2deg);
    box-shadow: 4px 4px 0px var(--black);
}

/* == filters style == */

/* Container for filter sections */
.filtersSection {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    margin-bottom: 0.5rem;
}

.filterGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.filterGroup label {
    font-size: 0.95rem;
    margin-right: 0.5rem;
}