.navbar {
    background-color: var(--yellow-primary);
    width: 100%;
    padding: 1rem 0;
    border-bottom: var(--border-thick);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.logoSection {
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.logoImg {
    height: 50%;
    width: 20%;
    display: block;
}

.navLinks {
    display: flex;
    gap: 1rem;
    padding-right: 3rem;
}

.navbarLink {
    text-decoration: none;
    color: var(--black);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 10px 20px;
    border: 3px solid transparent;
    transition: all 0.15s ease-in-out;
}

/* Stile attivo */
.active {
    composes: navbarLink;
    background-color: var(--blue-primary);
    color: var(--white) !important;
    border-radius: 5px;
    transform: translateY(2px);
}

/* Effetto hover */
.navbarLink:hover, .login:hover {
    background-color: var(--blue-primary);
    color: var(--white);
    border-color: var(--black);
    transform: rotate(-2deg) scale(1.1);
}

.login {
    /* Reset stili predefiniti del bottone */
    background: none;
    border: 3px solid transparent;
    cursor: pointer;
    font-family: inherit; /* Importante per ereditare il font Simpson */
}

.lockIcon {
    height: 1.1em;
    width: 1.1em;
    margin-left: 0.5rem;
    vertical-align: text-bottom;
    fill: currentColor;
    transition: transform 0.15s ease-in-out;
    transform: translateY(2px);
}

.linkWithIcon {
    display: flex;
    flex-direction: row;
}

.linkWithIcon svg {
    margin-bottom: -5px;
}

.linkWithIcon:hover path {
    fill: var(--white);
    transition: fill 0.15s ease-in-out;
}

.linkWithIcon:active path {
    fill: var(--white);
    transition: fill 0.15s ease-in-out;
}

{/* .active is automatically assigned via-CSS */}
.active .lockIcon path {
    fill: var(--white);
    transition: fill 0.15s ease-in-out;
}