.navbar {
    background-color: var(--yellow-primary);
    width: 100%;
    padding: 1rem 0;
    border-bottom: var(--border-thick);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.logoSection {
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.logoImg {
    height: 50%;
    width: 20%;
    display: block;
}

.navLinks {
    display: flex;
    gap: 1rem;
    padding-right: 3rem;
}

.navbarLink {
    text-decoration: none;
    color: var(--black);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: 3px solid transparent;
    transition: all 0.15s ease-in-out;
}

/* Stile attivo */
.active {
    composes: navbarLink;
    background-color: var(--blue-primary);
    color: var(--white) !important;
    border-radius: 5px;
    transform: translateY(2px);
}

/* Effetto hover */
.navbarLink:hover {
    background-color: var(--blue-primary);
    color: var(--white);
    border-color: var(--black);
    transform: rotate(-2deg) scale(1.1);
}