
/* global scope color variables */
:root {

    /* Palette: Yellows */
    --yellow-primary: #ffd90f;

    /* Palette: Blues */
    --blue-primary: #355C9B;
    --blue-primary-alpha: rgba(53, 92, 155, 0.65); /* Blu scuro semitrasparente */
    --blue-sky-alpha: rgba(165, 223, 249, 0.37);   /* Celeste cielo semitrasparente */

    /* Palette: Neutrals */
    --black: #000000;
    --white: #ffffff;
    --gray-dark: #333333;
    --gray-light: #f9f9f9;

    /* Colored Borders */
    --border-std: 3px solid var(--black);
    --border-thick: 5px solid var(--black);
}

html, body {
    height: 100%;
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
