
/* global scope color variables */
:root {

    /* Palette: Yellows */
    --yellow-primary: #ffd90f;

    /* Palette: Blues */
    --blue-primary: #355C9B;
    --blue-primary-alpha: rgba(53, 92, 155, 0.65); /* Semi-transparent dark blue */
    --blue-sky-alpha: rgba(165, 223, 249, 0.37);   /* Semi-transparent light blue (sky blue) */

    /* Palette: Neutrals */
    --black: #080703;
    --white: #ffffff;
    --gray-dark: #333333;
    --gray-light: #f9f9f9;

    /* Colored Borders */
    --border-std: 3px solid var(--black);
    --border-thick: 5px solid var(--black);
}

@media (prefers-color-scheme: dark) {

    /* Forces dark mode palette to be the standard colour scheme regardless */
    :root {
        /* Palette: Yellows */
        --yellow-primary: #ffd90f;

        /* Palette: Blues */
        --blue-primary: #355C9B;
        --blue-primary-alpha: rgba(53, 92, 155, 0.65); /* Semi-transparent dark blue */
        --blue-sky-alpha: rgba(165, 223, 249, 0.37);   /* Semi-transparent light blue (sky blue) */

        /* Palette: Neutrals */
        --black: #080703;
        --white: #ffffff;
        --gray-dark: #333333;
        --gray-light: #f9f9f9;

        /* Colored Borders */
        --border-std: 3px solid var(--black);
        --border-thick: 5px solid var(--black);
    }
}

/* responsive adjustment */
*, *::before, *::after {
    box-sizing: border-box;
}

/* In index.css */

html {
    /* Remove overflow-x: hidden from here */
    width: 100%;
    height: 100%; /* Use height 100% on html */
}

body {
    min-height: 100%;
    width: 100%;
    /* overflow-x: hidden; <--- Try commenting this out first to TEST */
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 100%;

    isolation: isolate;
    /* ^ This forces the whole app to manage its layers properly (there was a graphics glitch problem) */
}

/* Added to avoid graphics glitches */
main {
    flex: 1;
    width: 100%;
    /*overflow-x: hidden;*/
    /* ^ Ensures nothing spills over causing horizontal scroll/artifacts */
}

* {
    font-family: 'Comic Sans MS', "Arial Round", sans-serif;
}
