
/* global scope color variables */
:root {

    /* Palette: Yellows */
    --yellow-primary: #ffd90f;

    /* Palette: Blues */
    --blue-primary: #355C9B;
    --blue-primary-alpha: rgba(53, 92, 155, 0.65); /* Semi-transparent dark blue */
    --blue-sky-alpha: rgba(165, 223, 249, 0.37);   /* Semi-transparent light blue (sky blue) */

    /* Palette: Neutrals */
    --black: #080703;
    --white: #ffffff;
    --gray-dark: #333333;
    --gray-light: #f9f9f9;

    /* Colored Borders */
    --border-std: 3px solid var(--black);
    --border-thick: 5px solid var(--black);
}

/* responsive adjustment */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
}

main {
    flex: 1;
    width: 100%;
}
